*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif
}


.background{
    background-image: url(natvit.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2{
    color: #fff;
    font-size:  35%;
    cursor: pointer;
}